<!-- <style>
    figure.logo-image {
        /* float: right; */
        /* width: 30%; */
        text-align: center;
        /* font-style: italic; */
        /* font-size: smaller; */
        text-indent: 0;
        /* border: thin silver solid; */
        margin: 0.5em;
        padding: 0.5em;
        display: inline-block;
    }

    figure.logo-image img {
        height: 50px;
        width: auto;
        vertical-align: top;
    }

    figure.logo-image figcaption {
        text-align: center;
    }
</style>

<figure class="logo-image">
    <img src="{{ include.url }}" alt="{{ include.description }}">
    <figcaption>{{ include.description }}</figcaption>
</figure> -->